@font-face {
    font-family: 'Oswald'; 
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    display: block;
    z-index: -1;
    font-family: 'Oswald';
    overflow: hidden;
    height: 1080px;
    width: 100%;
}

#cash {
    position: absolute;
    right: 2vw;
    top: 8vh;
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-shadow: 1.5px 1.5px 0px black;
}

#dollar {
    font-size: 28px;
    font-weight: 600;
    color: rgb(30,156,30)
}

#bank {
    position: absolute;
    right: 2vw;
    top: 12.5vh;
    font-weight: 600;
    font-size: 35px;
    color: rgb(220, 218, 218);
    text-shadow: 1.5px 1.5px 0px black;
}

#bankchange {
    position: absolute;
    right: 2vw;
    font-weight: 200;
    font-size: 35px;
    text-shadow: 1.5px 1.5px 0px black;
}

